<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quiz App</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/admin/admin_home}">Quiz App</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/admin/admin_home}">Home</a></li>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/logout}">Sign out</a></li>
        </ul>
    </div>
</nav>


<div class="container">
    <h2>Hi, <span th:utext="${userName}"></span>, this is the Quiz App management page.</h2>
</div>


<!--<div align="center">-->
<!--    <h1>User Management</h1>-->
<!--    <table border="1">-->
<!--        <tr>-->
<!--            <td>First Name</td>-->
<!--            <td>Last Name</td>-->
<!--            <td>Email Id</td>-->
<!--            <td>Action</td>-->

<!--        </tr>-->
<!--&lt;!&ndash;        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${user.firstName}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${user.lastName}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${user.emailId}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td><a th:href="@{/edit}">edit</a></td>&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--        <tr th:each="user: ${userList}">-->
<!--            <td th:text="${user.firstname}"/>-->
<!--            <td th:text="${user.Lastname}"/>-->
<!--            <td th:text="${user.email}"/>-->
<!--            <td th:switch="${user.active}">-->

<!--                <a th:href="@{/admin/toggleUserStatus/{id}(id=${user.id})}"><span th:case="1" th:text="Suspend"></span></a>-->
<!--                <a th:href="@{/admin/toggleUserStatus/{id}(id=${user.id})}"><span th:case="0" th:text="Active"></span></a>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->


<div align="center">
    <h1>User Management</h1>
    <table border="1">
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email Id</td>
            <td>Action</td>

        </tr>


        <tr th:each="user: ${userList}">
            <td th:text="${user.firstname}"/>
            <td th:text="${user.Lastname}"/>
            <td th:text="${user.email}"/>
            <td th:switch="${user.active}">
                <form method="POST" th:action="@{/admin/toggleUserStatus/__${userId}__}" th:method="toggleUserStatus">
                <div th:case="1">
                    <button class="btn" type="submit">Suspend</button>
                </div>
                <div th:case="0">
                    <button class="btn" type="submit">Active</button>
                </div >
                </form>
            </td>
        </tr>

    </table>
</div>







</body>
</html>